<center><img src="MKn_Staffelter_Hof.jpeg" alt="Picture of old business"</center>
<!--Image Credit: Martin Kraft https://commons.wikimedia.org/wiki/File:MKn_Staffelter_Hof.jpg -->

Staffelter Hof Winery is Germany's oldest business, established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe, such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time?

To help answer this question, BusinessFinancing.co.uk researched the oldest company still in business in **almost** every country and compiled the results into several CSV files. This dataset has been cleaned.

Having useful information in different files is a common problem. While it's better to keep different types of data separate for data storage, you'll want all the data in one place for analysis. You'll use joining and data manipulation to work with this data and better understand the world's oldest businesses.

## The Data
`businesses` and `new_businesses`
|Column|Description|
|------|-----------|
|`business`|Name of the business (varchar)|
|`year_founded`|Year the business was founded (int)|
|`category_code`|Code for the business category (varchar)|
|`country_code`|ISO 3166-1 three-letter country code (char)|
---
`countries`
|Column|Description|
|------|-----------|
|`country_code`|ISO 3166-1 three-letter country code (varchar)|
|`country`|Name of the country (varchar)|
|`continent`|Name of the continent the country exists in (varchar)|
---
`categories`
|Column|Description|
|------|-----------|
|`category_code`|Code for the business category (varchar)|
|`category`|Description of the business category (varchar)|

In [31]:
-- What is the oldest business on each continent?
WITH ranked AS (
SELECT 
	continent,
	country,
	business,
	year_founded,
	RANK() OVER (PARTITION BY continent ORDER BY year_founded ASC)
FROM businesses b
JOIN countries c
	USING (country_code)
)
SELECT 
	continent,
	country,
	business,
	year_founded
FROM ranked
WHERE rank = 1;

       continent    country                     business  year_founded
0         Africa  Mauritius               Mauritius Post          1772
1           Asia      Japan                   Kongō Gumi           578
2         Europe    Austria  St. Peter Stifts Kulinarium           803
3  North America     Mexico  La Casa de Moneda de México          1534
4        Oceania  Australia               Australia Post          1809
5  South America       Peru      Casa Nacional de Moneda          1565

In [32]:
-- How many countries per continent lack data on the oldest businesses
-- Does including the `new_businesses` data change this?
WITH combined AS (
SELECT * 
FROM new_businesses
UNION ALL 
SELECT *
FROM businesses
)
SELECT 
	continent,
	COUNT(*) AS countries_without_businesses
FROM countries 
LEFT JOIN combined
	ON countries.country_code = combined.country_code
WHERE business IS NULL
GROUP BY continent

       continent  countries_without_businesses
0         Africa                             3
1           Asia                             7
2         Europe                             2
3  North America                             5
4        Oceania                            10
5  South America                             3

In [33]:
-- Which business categories are best suited to last over the course of centuries?
SELECT 
	continent,
	category,
	MIN(year_founded) AS year_founded
FROM businesses
JOIN countries 
	USING (country_code)
JOIN categories
	USING (category_code)
GROUP BY 
	continent, 
	category

        continent                           category  year_founded
0   South America                            Defense          1811
1   North America                  Banking & Finance          1891
2            Asia                        Agriculture          1930
3   North America         Manufacturing & Production          1534
4          Africa               Aviation & Transport          1854
5   North America                   Food & Beverages          1920
6            Asia                             Mining          1913
7            Asia          Cafés, Restaurants & Bars          1153
8   North America  Distillers, Vintners, & Breweries          1703
9   North America                              Media          1909
10           Asia                   Food & Beverages          1820
11        Oceania                     Postal Service          1809
12         Africa                        Agriculture          1947
13  South America                   Food & Beverages          1660
14  South America                  Banking & Finance          1565
15         Europe                  Banking & Finance          1606
16         Europe                        Agriculture          1218
17           Asia         Manufacturing & Production          1736
18         Africa                             Energy          1968
19         Africa                             Mining          1962
20         Europe                   Tourism & Hotels          1230
21         Europe                            Medical          1422
22           Asia                              Media          1931
23         Africa                     Postal Service          1772
24           Asia                       Conglomerate          1841
25         Europe                            Defense          1878
26  North America               Aviation & Transport          1870
27           Asia                 Telecommunications          1885
28         Europe                             Mining          1248
29           Asia                            Defense          1808
30           Asia                             Energy          1928
31  North America                   Tourism & Hotels          1770
32         Africa                  Banking & Finance          1892
33           Asia  Distillers, Vintners, & Breweries          1853
34           Asia               Aviation & Transport          1858
35  North America                        Agriculture          1638
36         Europe          Cafés, Restaurants & Bars           803
37         Europe                 Telecommunications          1912
38         Europe                     Consumer Goods          1649
39           Asia                   Tourism & Hotels          1584
40         Africa  Distillers, Vintners, & Breweries          1933
41         Europe                     Postal Service          1520
42           Asia                     Postal Service          1800
43         Africa                              Media          1943
44           Asia                  Banking & Finance          1830
45         Europe                              Media          1999
46        Oceania                  Banking & Finance          1861
47         Africa         Manufacturing & Production          1820
48         Europe  Distillers, Vintners, & Breweries           862
49           Asia                             Retail          1883
50  North America                             Retail          1670
51         Africa                   Food & Beverages          1878
52         Europe         Manufacturing & Production           864
53  South America          Cafés, Restaurants & Bars          1877
54  South America         Manufacturing & Production          1621
55           Asia                       Construction           578